h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornflowerblue;
    text-decoration: overline;
}

p {
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-indent: 40px;
    color: indigo;
}

body {
    background-color: burlywood;
}