/* type selectors */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&family=Merriweather:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-style: italic;
    color: brown;
    background-color: antiquewhite;
    text-align: center;
    border: 5px dashed blueviolet;
    margin: auto;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: normal;
    color: rgb(228, 211, 195);
    background-color: rgb(67, 86, 192);
    text-align: center;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: bisque;
    padding: 100px;
    border: 3px double blueviolet;
    margin: 10px;
}