/* We shall import some of the CSS code from "03_properties.css" file and 
extend it in this file */

@import url("./03_properties.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@300&display=swap');

/* class selectors */

.contentDetailed {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: oblique;
    font-kerning: auto;
    color: rgb(33, 63, 3);
    padding: 10px;
    margin: auto;
    border: 2px dotted brown;
}

.important {
    color: hsl(135, 40%, 70%);
    text-indent: 12px;
    background-blend-mode: color-dodge;
    border: 3px solid peru;
    margin: 10px;
    font-family: 'Eczar', serif;
    background-color: rgb(68, 55, 31);
}

.importantText::before {
    content: " | --> ";
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}


/* id selectors */

#note {
    color: rgb(85, 73, 66);
    background-color: gainsboro;
    padding: 30px;
    margin: 20px;
    text-indent: 12px;
    border: 3px solid peru;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#footer_end {
    background-color: rgb(54, 54, 56);
    padding: 20px;
    border: 12px;
    margin: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    color: antiquewhite;
}


/* parentSelectors and childSelectors */

.important h3 {
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
    font-size: 25px;
}

#note h3 {
    font-size: 25px;
    text-decoration: underline;
}